.color-wrapper {
  display: flex;

  margin: 20px 40px;
  padding: 10px 10px;
}

.color-wrapper button {
  margin: auto;
  padding: 10px 30px;
  border-radius: 15px;
  background: #FFFFFF;
  border: 1px solid;
}

.color-wrapper h3 {
  border: 1px solid;
  padding: 15px;
  background: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
}